.bg-red{
    background-color:$primary;
}

.text-white{
    color: $white;
}

.font-ch{
    font-family: "Noto Sans TC";
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 88px;
    @include pad{
        padding: 30px 40px;
    }
    @include phone{
        flex-direction: column;
        padding:0;
        img{
            padding: 10px 0;
        }
    }
}

.header-menu{
    display: flex;
    @include phone{
        flex-wrap: wrap;
        width:100%;
    }
    li{
        @include phone{
            width: 50%;
            border:1px solid $white;
            text-align: center;
            padding: 8px 0;
        }
        &:not(:last-child){
            margin-right: 64px; 
            @include pad{
                margin-right: 40px;
            }
            @include phone{
                margin-right: 0; 
            }
        }
    }
}