.banner{
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png');
    height: 840px;
    p:first-child{
        font-size: 36px;
        line-height: 54px;
        @include pad{
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
        }
        @include phone{
            font-size: 16px;
            line-height: 30px;
        }
    }
    p:last-child{
        font-size: 64px;
        line-height: 96px;
        margin-right: 9px;
        @include pad{
            margin-right: 0;
            font-size: 48px;
            line-height: 72px;
        }
        @include phone{
            font-size: 32px;
            line-height: 48px;
        }
    }
    @include pad{
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-sm.png');
        padding:0 39px;
    }
}

.bannerInner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: $dark-red;
    font-family: "Noto Sans TC";
    font-weight: bold;
}

.about{
    padding-top: 64px;
    padding-bottom: 80px;
    background-color: $bright-red;
    @include pad{
        padding-top: 40px;
    }
    @include phone{
        padding-top: 32px;
        padding-bottom: 52px; 
    }
}

.aboutTitle{
    font-size: 48px;
    line-height: 72px;
    color: $dark-red;
    font-family: "Noto Sans TC";
    font-weight: bold;
    text-align: center;
    margin-bottom: 64px;
    @include pad{
        font-size: 32px;
        line-height: 48px;
    }
    @include phone{
        font-size: 24px;
    }
}

.aboutInner{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    @include pad{
        margin-top: 32px;
    }
    img{
        width: 100px;
        margin: 0 auto;
        margin-bottom: 40px;
        @include pad{
            width: 80px;
            margin-bottom: 16px;
        }
    }
    li{
        max-width: 25%;
        padding: 0 calc((25% - 208px)/2);
        font-family: "Noto Sans TC";
        @include pad{
            max-width:48%;
            padding: 0 calc((50% - 237px)/2);
            &:nth-child(1){
                margin-bottom: 40px;
            }
            &:nth-child(2){
                margin-bottom: 40px;
            }
        }
        @include phone{
            max-width:95%;
            padding: 0 calc((100% - 255px)/2);
            &:nth-child(3){
                margin-bottom: 40px;
            }
        }
        h4{
            text-align: center;
            font-size: 24px;
            line-height: 36px;
            color: $dark-red;
            font-weight: bold;
            margin-bottom: 4px;
            @include pad{
                font-size: 20px;
                line-height: 30px; 
                margin-bottom: 8px;
            }
        }
        p{
            line-height: 24px;
        }
    }
}

.productType{
    padding-top: 64px;
    padding-bottom: 80px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include phone{
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.typeTitle{
    font-size: 48px;
    line-height: 72px;
    font-family: "Noto Sans TC";
    font-weight: bold;
    text-align: center;
    color: $dark-red;
    margin-bottom: 60px;
    @include pad{
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 32px;
    }
    @include phone{
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.typeInner{
    li{
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        @include pad{
            margin-bottom: 8px;
        }
        @include phone{    
            justify-content: center;
            position: relative;
        }
        &:nth-child(2){
            flex-direction: row-reverse;
            @include pad{
                flex-direction: row;
            }
            div:first-child{
                max-width: 58%;
                margin-left: 30px;
                margin-right: 0;
                @include pad{
                    margin-left: 0;
                    margin-right: 30px;
                }
                @include phone{
                    max-width: 100%;
                    margin-right: 0;
                }
            }
        }
        div:first-child{
            max-width: 58%;
            margin-right: 30px;
            @include phone{
                max-width: 100%;
                margin-right: 0;
            }
            img{
                width: 100%;
            }
        }
        div:last-child{
            @include phone{
                position: absolute;
            }
            a{
                display: flex;
                align-items: center;
                h4{
                    color: $primary;
                    text-transform: uppercase;
                    font-size: 36px;
                    line-height: 54px;
                    font-family: "Roboto";
                    font-weight: 900;
                    font-style: italic;
                    margin-left: 8px;
                    @include pad{
                        font-size: 24px;
                        line-height: 36px;
                    }
                    @include phone{
                        color: $white;
                        font-size: 28px;
                        line-height: 42px;
                    }
                }
                img{
                    height: 48px;
                    @include pad{
                        height: 32px;
                    }
                }
            }
        }
    }
}

.redIcon{
    @include phone{
        display: none;
    } 
}

.whiteIcon{
    display: none;
    @include phone{
        display: block;
    }
}

.designProduct{
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png');
    background-position: center;
    padding-top: 64px;
    padding-bottom: 80px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include phone{
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.designTitle{
    color: $white;
    font-size: 48px;
    line-height: 72px;
    font-family: "Noto Sans TC";
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
    @include pad{
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 32px;
    }
    @include phone{
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.designInner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li{
        max-width: 50%;
        padding:0 15px;
        @include phone{
            max-width: 100%;
            padding: 0;
            &:first-child{
                margin-bottom: 16px;
            }
        }
    }
}

.designItem{
    position: relative;
    color: $primary;
}

.designSub{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: $primary;
    font-size: 72px;
    line-height: 108px;
    font-family: "Roboto";
    font-weight: bold;
    @include pad{
        font-size: 32px;
        line-height: 25px;
    }
}

.recommend{
    padding-top: 64px;
    padding-bottom: 64px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include phone{
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.recommendTitle{
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 60px;
    font-family: "Noto Sans TC";
    font-weight: bold;
    text-align: center;
    color: $dark-red;
    @include pad{
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 32px;
    }
    @include phone{
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.recommendInner{
    display: flex;
    flex-wrap: wrap;
    li{
        max-width: 25%;
        padding-left: 15px;
        padding-right: 15px;
        @include pad{
            max-width: 50%;
            &:nth-child(1){
                margin-bottom: 28px;
            }
            &:nth-child(2){
                margin-bottom: 28px;
            }
        }
        @include phone{
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
            &:not(:last-child){
                margin-bottom: 16px;
            }
        }
        img{
            width: 100%;
            height: 256px;
            object-fit: cover;
        }
        div{
            border: 1px solid $gray-100;
            padding: 16px;
            font-family: "Roboto";
            h4{
                margin-bottom: 7px;
                font-size: 14px;
                line-height: 21px;
                font-weight: 500;
                @include pad{
                    margin-bottom: 16px;
                }
            }
            p:not(:last-child){
                line-height: 24px;
                color: $gray-900;
                margin-bottom: 10px;
                @include pad{
                    margin-bottom: 16px;
                }
            }
            p:last-child{
                font-size: 14px;
                line-height: 21px;
                color: $gray-400;
            }
        }
    }
}

.contactUs{
    background-color: $bright-red;
    padding-top: 64px;
    padding-bottom: 80px;
    font-family: "Noto Sans TC";
    @include pad{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include phone{
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.contactTitle{
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 24px;
    @include pad{
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 16px;
    }
    @include phone{
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.contactContainer{
    max-width: 730px;
    margin: 0 auto;
    @include pad{
        max-width: 450px;
    }
    @include phone{
        max-width:345px;
        padding:0 15px;
    }
    p{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
        @include pad{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 12px;
        }
        @include phone{
            margin-bottom: 8px;
        }
    }
}

.form{
    width: 100%;
    label{
        line-height: 24px;
        margin-bottom: 4px;
        @include pad{
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 2px;
        }
    }
    textarea{
        width: 100%;
        background-color: transparent;
        border: 1px solid $black;
        resize : none;
        padding:14px 0 100px 16px;
        margin-bottom: 16px; 
        @include pad{
            padding:8px 0 72px 12px;
            margin-bottom: 8px;
        }
        @include phone{
            padding:10px 0 70px 12px;
        }
    }
    ::placeholder {
        color: $black;
        opacity: 0.2;
    }
}

.text{
    width: 100%;
    background-color: transparent;
    border: 1px solid $black;
    padding:14px 0 14px 16px;
    margin-bottom: 16px;
    @include pad{
        padding:8px 0 8px 12px;
    }
}

.check{
    line-height: 24px;
    @include pad{
        line-height: 21px;
    }
    @include phone{
        font-size: 14px;
    }
}

.btnContainer{
    text-align: center;
    margin-top: 42px;
    @include pad{
        margin-top: 20px;
    }
    @include phone{
        margin-top: 24px;
    }
}

.btn{
    width: calc((100% - 30px)/ 2);
    padding: 16px 0;
    background-color: $primary;
    color: $white;
    border: none;
    font-family: "Noto Sans TC";
    @include pad{
        padding: 8px 0;
    }
}